.Grid {
  border: 2px solid black;
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.Column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Cell {
  flex: 1;
  border: 1px solid black;
  text-align: center;
  font-size: 2em;
  align-items: center;
  align-content: center;
}

.controls {
  margin: 20px auto ;
  width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.button {
    padding: 20px;
}
